page-recovery-password {
  .vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.336) inset;
  }

  .item-md {
    border-radius: 10px !important;
  }

  .item-md2, .item-ios2 {
    background-color: transparent;
    margin-top: 4%
  }

  .label-md[stacked] {
    font-size: 1.6rem !important;
  }
  .item-md2 .item-button2 {
    padding: 0 0.6em;
    height: 25px;
    margin-bottom: 23% !important;
    font-size: 1.2rem;
  }

  .marginLft {
    margin-left: 4%;
  }

  .divMargin {
    margin-top: 10%;
  }

  .divMargin20 {
    margin-top: 20% !important;
  }

  .center {
    margin: auto;
    text-align: center;
  }

  ion-img {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background: transparent !important;
    contain: strict;
  }

  .marginItems {
    margin-bottom: 10%;
  }

  .logo {
    width: 100%;
    display: unset;
  }

  .back {
    background: #063996;
  }

  .marGrid {
    margin-top: 18%;
  }

  .marginBts {
    margin-top: 20%;
  }

  .stylCel {
    border-radius: 10px;
    width: 122%;
    margin-left: -20%;
  }

  .borderBtns {
    border-radius: 5px !important;
  }

  .logo {
    width: 70%;
    background: transparent;
    height: 80px;
    margin-top: 10%;
    display: inline-grid;
  }

  .label-md {
    margin: 0px !important;
  }

  .banderaWidt {
    width: 30% !important;
  }

  ion-list {
    margin: 0;
    padding: 10% !important;
    display: block;
    list-style-type: none;
  }

  .inputClass {
    background: white;
    border-radius: 5px;
  }

  .marginlists {
    margin-bottom: 4%;
    border-radius: 10px;
  }

  .text-input-md {
    text-align: center !important;
  }

  .list-md .item-block .item-inner {
    border-bottom: 0px solid #dedede !important;
  }

  .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #dedede !important;
  }

  .item-label-stacked .select-md, .item-label-floating .select-md {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }

}
