<ion-content padding class="imgBackground vignette">
	<div style="margin-top:12%" class="center marbutt">
		<img class="logo" src="assets/imgs/EPCLogo.png">
	</div>
	<div *ngIf="isvisible" class="center">
		<ion-item class="backTransparent ">
			<ion-label stacked>{{'INGRESE_CELULAR'|translate}}</ion-label>
			<ion-input type="text" [(ngModel)]="data" name="userdata"></ion-input>
		</ion-item>
		<ion-item class="backTransparent" *ngIf="iscodigo2">
			<ion-label stacked>{{'INGRESE_CODIGO_VERIFICACION'|translate}}</ion-label>
			<ion-input type="text" [(ngModel)]="codigo" name="usercodigo"></ion-input>
		</ion-item>
		<ion-row class="divMargin">
			<ion-col col-12 *ngIf="!iscodigo2">
				<button ion-button (click)="sendMessage('phone')" block class="buttonPayCash">{{'ENVIAR_MENSAJE'|translate}}</button>
			</ion-col>
			<ion-col col-12 *ngIf="iscodigo2">
				<button ion-button (click)="confirmCode()" block class="buttonPayCash">{{'CONFIRMAR_CODIGO'|translate}}</button>
			</ion-col>
		</ion-row>
		<ion-row class="marginLft divMargin20">
			<ion-col col-4>
				<button ion-button (click)="cancelar()" class="buttonPayCash">{{'CANCELAR'|translate}}</button>
			</ion-col>
			<ion-col col-6 *ngIf="!iscodigo2">
				<button ion-button (click)="changeVisible()" class="buttonPayCash wi132Tam">{{'RECUPERAR_X_EMAIL'|translate}}</button>
			</ion-col>
		</ion-row>
	</div>
	<div *ngIf="!isvisible">
		<div [formGroup]="formGroup">
			<ion-item class="backTransparent colWhite" no-lines *ngIf="formGroup.invalid">
				<msg-error [control]="formGroup.controls.data"></msg-error>
			</ion-item>
			<ion-item class="backTransparent">
				<ion-label stacked>{{'INGRESE_EMAIL'|translate}}</ion-label>
				<ion-input type="text" name="dataname" required formControlName="data"></ion-input>
			</ion-item>
		</div>
		<ion-item *ngIf="iscodigo">
			<ion-label stacked>{{'INGRESE_CODIGO_VERIFICACION'|translate}}</ion-label>
			<ion-input type="text" [(ngModel)]="codigo" name="usercodigo"></ion-input>
		</ion-item>
		<ion-row class="divMargin">
			<ion-col col-12 *ngIf="!iscodigo">
				<button ion-button (click)="sendMessage('mail')" block class="buttonPayCash">{{'ENVIAR_EMAIL'|translate}}</button>
			</ion-col>
			<ion-col col-12 *ngIf="iscodigo">
				<button ion-button (click)="confirmCode()" block class="buttonPayCash">{{'CONFIRMAR_CODIGO'|translate}}</button>
			</ion-col>
		</ion-row>
		<ion-row class="marginLft divMargin">
			<ion-col col-4>
				<button ion-button (click)="cancelar()" class="buttonPayCash">{{'CANCELAR'|translate}}</button>
			</ion-col>
			<ion-col col-6>
				<button ion-button (click)="changeVisible()" class="buttonPayCash wi132Tam">{{'RECUPERAR_X_SMS'|translate}}</button>
			</ion-col>
		</ion-row>
	</div>
</ion-content>