<!--
  Generated template for the RecoveryPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="fondo_gris">
  <div *ngIf="isvisible">
    <ion-item>
      <ion-label stacked>Ingrese nùmero celular</ion-label>
      <ion-input type="text" [(ngModel)]="data" name="userdata"></ion-input>
    </ion-item>
    <ion-item *ngIf="iscodigo">
      <ion-label stacked>Ingrese còdigo de verificaciòn</ion-label>
      <ion-input type="text" [(ngModel)]="codigo" name="usercodigo"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col col-12 *ngIf="!iscodigo">
        <button ion-button (click)="sendMessage()" block class="buttonPayCash">Enviar mensaje</button>
      </ion-col>
      <ion-col col-12 *ngIf="iscodigo">
        <button ion-button (click)="confirmCode()" block class="buttonPayCash">Confirmar còdigo</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <button ion-button (click)="cancelar()" class="buttonPayCash">Cancelar</button>
      </ion-col>
      <ion-col col-6 *ngIf="!iscodigo">
        <button ion-button (click)="changeVisible()" class="buttonPayCash">Recuperar por email</button>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="!isvisible">
    <ion-item>
      <ion-label stacked>Ingrese su direcciòn email</ion-label>
      <ion-input type="text" [(ngModel)]="data" name="dataname"></ion-input>
    </ion-item>


    <ion-item *ngIf="iscodigo">
      <ion-label stacked>Ingrese còdigo de verificaciòn</ion-label>
      <ion-input type="text" [(ngModel)]="codigo" name="usercodigo"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col col-12 *ngIf="!iscodigo">
        <button ion-button (click)="sendMail()" block class="buttonPayCash">Enviar email</button>
      </ion-col>
      <ion-col col-12 *ngIf="iscodigo">
        <button ion-button (click)="confirmCode()" block class="buttonPayCash">Confirmar còdigo</button>
      </ion-col>
    </ion-row>
    <ion-row>


      <ion-col col-4>
        <button ion-button (click)="cancelar()" class="buttonPayCash">Cancelar</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button (click)="changeVisible()" class="buttonPayCash">Recuperar por SMS</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>