page-login {

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent;
    -webkit-box-shadow: inset 0 -1px 0 0 transparent;
    box-shadow: inset 0 -1px 0 0 transparent;
}

  .logo {
    width: 100%;
    display: unset;
  }
  .item-md, .item-ios {
    background-color: transparent;
  }

  .center {
    margin: auto;
    text-align: center;
  }

  .list-md {
    margin: -1px 0 16px;
    padding: 12%;
    padding-bottom: 0;
  }

  .imgBackground {
    background-image: url(http://subirimagen.me/uploads/20180921121235.png);
    background-repeat: initial;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  .vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.336) inset;
  }
  .logo {
    width: 70%;
    background: transparent;
    height: 80px;
    margin-top: 20%;
    display: inline-grid;
  }

  //.marginItems {
  //  margin-bottom: 10%;
  //}

  // Textos Style

  .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: white !important;
  }

  .label-md[stacked] {
    font-size: 1.6rem !important;
    text-align: center !important;
  }

  .inputClass {
    background: white;
    border-radius: 5px;
  }
  .list-md .item-block .item-inner {
    border-bottom: 0px solid #dedede !important;
  }

  .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #dedede !important;
  }
  .borderBtns {
    border-radius: 5px !important;
  }

  .text-input {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    display: inline-block;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 92%;
    width: calc(100% - 10px);
    border: 0;
    background: transparent;
  }

  .button-inner {
    color: white !important;
  }
}
