page-register {
  .imgBackground {
    background-image: url(http://subirimagen.me/uploads/20180921121235.png);
    background-repeat: initial;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  .vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.336) inset;
  }

  //====================  BEGIND ESTAS CLASES SON PARA EL BOTÓN DE VER LA CONTRASEÑA
  .btn_show {
    position: absolute;
    min-width: 50px;
    right: 0;
    top: 41%;
  }

  .btn_show2 {
    position: absolute;
    min-width: 50px;
    right: 0;
    top: 42%;
  }
  //================   END DE LA CLASE PARA VER LA CONTRASEÑA

}
