page-register {
  .imgBackground {
    background-image: url(http://subirimagen.me/uploads/20180921121235.png);
    background-repeat: initial;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  .vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.336) inset;
  }

}
