page-reg-number-phone {

  .imgBackground {
    background-image: url(http://subirimagen.me/uploads/20180921121235.png);
    background-repeat: initial;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }

  .logo {
    width: 100%;
    display: unset;
  }

}