page-modal-transaction {
  ion-select {
    max-width: 100% !important;
  }
  .txtLbl {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2%;
  }

  .margIcon {
    margin-top: 10%;
  }

  .label-md[stacked] {
    font-size: 1.8rem !important;
  }

  .toolbar-background {
    background: #063996 !important;
  }
  .toolbar-title-md {
    color: white;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: white;
    background-color: transparent;
  }

  .select-md .select-icon .select-icon-inner {
    color: white;
  }

  .select-md {
    padding: 13px 8px 13px 16px;
    background: #063996;
    border-radius: 10px;
    color: white;
    font-size: 18px;
  }

  label, input, select, textarea {
    font-family: inherit;
    line-height: normal;
    font-weight: normal;
  }
  .card-content-md {
    padding: 13px 16px;
    font-size: 1.4rem;
    line-height: font;
    font-weight: bold;
    font-size: 16px;
  }
  .card-md {
    margin: 10px;
    border-radius: 15px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #063996;
    color: white;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .item-md {
    background: transparent !important;
    padding-left: 16px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1% !important;
    color: white !important;
  }

  .content-md hr {
    background: white;
    size: 0.2px;
  }

  hr {
    height: 0.3px;
    border-width: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }

  .card-header-md {
    font-size: 1.6rem;
    color: white;
    padding: 18px;
    font-weight: bold;
  }
  .text-input-md, .text-input-ios {
    border-bottom: 1px solid white;
  }
}
