page-security {

  .btn_show {
    position: absolute;
    min-width: 50px;
    right: 0;
    top: 41%;
  }

  .btn_show2 {
    position: absolute;
    min-width: 50px;
    right: 0;
    top: 42%;
  }

}
