page-profile {

	.icoCenter{
		width: 20%;
		position: initial;
	}

	.mr10Top{
		margin-top: -10%;
	}

	.margtop2{
		margin-top: -2.5%;
	}

.mrgLogoTopBut{
	margin-top: 30%;
	margin-bottom: -24%;
	width: 70%;
}

	.BackGRa {
		background-image: url('../assets/newBackgrounds/6.png'); 
		background-position: center top;
		background-size: 100%; 
		background-repeat: no-repeat;
		}

		.bacTransp{
			background: transparent;
		}
		
		.lineRight{
			border-color: #848181;
			border-style: solid;
			border-width: 0px 1px 0px 0px;
		}

		.lineRight2{
			border-color: #848181;
			border-style: solid;
			border-width: 0px 0px 1px 0px;
		}
.linerig{
	border-color: #848181;
			border-style: solid;
			border-width: 0px 1px 1px 0px;
}
		.tamaIcos{
			width: 50%;
		}
		.colWhite{
			color: white
		}

		.mrg36Top{
			margin-top: 36% !important;
		}

		.clsT{
			width: 70%;
		}

	.content-md {
		background-color: #f5f5f5;
	  }
	
	//=================== BADGE
	  .badge-md {
		background-color: #af61ff;
	  }
	  ion-badge {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
	  }
	.center {
		display: block;
		text-align: center;
		margin: auto;
	  }

	  .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
		top: -2px;
		bottom: auto;
		background-position: left 0 top 0;
		height: 1px;
		background: rgba(149,105,252,1);
		background: -moz-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(149,105,252,1)), color-stop(100%, rgba(6,56,150,1)));
		background: -webkit-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
		background: -o-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
		background: -ms-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
		background: linear-gradient(to right, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9569fc', endColorstr='#063896', GradientType=1 );
	  }
	  

	  
	  .button-small-md {
		height: 3.1em;
		font-size: 1.3rem;
		padding: 0 0.9em;
	  }
	  
	  .btnRadius{
		border-radius: 14px;
	  }
	  
	  .item-md.item-block .item-inner {
		padding-right: 8px;
		border-bottom: 0px solid #dedede !important;
	  }
	  
	  p{
		font-size: 10px;
		text-align: center;
	  }
}
