page-politics {
    .imgBackground{  
        background: #063996;
     }

     .Titles{
         color: black;
         font-weight: bold;
         font-size: 18px;
     }

     .textNomral{
         color: black;
     }

     .ftBold{
         font-weight: bold;
         color: black;
     }
}
