<ion-header>
  <div class="BackgroundPpal">
    <ion-row>
      <ion-col>
        <img class="imgLogoWidth marginlogo" src="assets/imgs/EPCLogo.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6> Saldo por pagar :</h6>
      </ion-col>
    </ion-row>
    <ion-row class="styleSegment">
      <ion-col>
        <div padding>
          <ion-segment class="backSegment marg4Top center " [(ngModel)]="filtro.status" (ionChange)="getInfo()">
            <ion-segment-button value="0">
              Todas
            </ion-segment-button>
            <ion-segment-button value="1">
              Enviadas
            </ion-segment-button>
            <ion-segment-button value="2">
              Recibidas
            </ion-segment-button>
          </ion-segment>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-header>
  <ion-content >
  <div padding [ngSwitch]="filtro.status">
    <ion-list *ngSwitchCase="'0'">
      <div class="centerIcoText">
        <img class="imgLogoWidth" src="assets/newIcons/27.png">
      </div>
      <div class="centerIcoText">
        <h1>Bienvenido a EyePayCash</h1>
        <p>Para recibir fondos desliza hacia la derecha y para enviarlos desliza hacia la izquierda.</p>
      </div>
      <ion-card *ngFor="let transaction of transactions" (click)="goDetalle(transaction)" class="center bground">
        <ion-card-content>
          <ion-row>
            <ion-col col-6>
              <h6>{{transaction.country.name}}</h6>
            </ion-col>
            <ion-col col-6>
              {{getDateLocale(transaction.date_request) |date:'MM/dd/yyyy'}}
              <!--transaction.date_request |date:'MM/dd/yyyy h:mma'}}-->
            </ion-col>
            <ion-col col-4>
              {{transaction.coin.full_name}}
            </ion-col>
            <ion-col col-5>
              {{transaction.amount_local | currency:transaction.country.currency+" " : 2}}
            </ion-col>
            <ion-col col-3>
              <ion-icon name="add"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'1'">
      <div class="centerIcoText">
        <img class="imgLogoWidthPen" src="assets/newIcons/26.png">
      </div>
      <div class="centerIcoText">
        <h1>Auuchh !</h1>
        <p>No tiene transacciones enviadas aún.</p>
      </div>
      <ion-card *ngFor="let transaction of transactions" (click)="goDetalle(transaction)" class="center bground">
        <ion-card-content>
          <ion-row>
            <ion-col col-6>
              <h6>{{transaction.country.name}}</h6>
            </ion-col>
            <ion-col col-6>
              {{getDateLocale(transaction.date_request) |date:'MM/dd/yyyy'}}
              <!--transaction.date_request |date:'MM/dd/yyyy h:mma'}}-->
            </ion-col>
            <ion-col col-4>
              {{transaction.coin.full_name}}
            </ion-col>
            <ion-col col-5>
              {{transaction.amount_local | currency:transaction.country.currency+" " : 2}}
            </ion-col>
            <ion-col col-3>
              <ion-icon name="add"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'2'">
      <div class="centerIcoText">
        <img class="imgLogoWidth" src="assets/newIcons/25.png">
      </div>
      <div class="centerIcoText">
        <h1>Auuchh !</h1>
        <p>No tiene transacciones recibidas aún.</p>
      </div>
      <ion-card *ngFor="let transaction of transactions" (click)="goDetalle(transaction)" class="center bground">
        <ion-card-content>
          <ion-row>
            <ion-col col-6>
              <h6>{{transaction.country.name}}</h6>
            </ion-col>
            <ion-col col-6>
              {{getDateLocale(transaction.date_request) |date:'MM/dd/yyyy'}}
              <!--transaction.date_request |date:'MM/dd/yyyy h:mma'}}-->
            </ion-col>
            <ion-col col-4>
              {{transaction.coin.full_name}}
            </ion-col>
            <ion-col col-5>
              {{transaction.amount_local | currency:transaction.country.currency+" " : 2}}
            </ion-col>
            <ion-col col-3>
              <ion-icon name="add"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>


  </div>
</ion-content>


<!-- <ion-row>
    <ion-col col-12>
      <ion-label>Filtro de transacciones por estado:</ion-label>
      <ion-select [(ngModel)]="filtro.status" (ionChange)="getInfo()" interface="popover">
        <ion-option value="0">Pendiente de pago</ion-option>
        <ion-option value="1">Pagado y pendiente por retirar</ion-option>
        <ion-option value="2">Pagado y retirado</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-card *ngFor="let transaction of transactions" (click)="goDetalle(transaction)" class="center bground">
      <ion-card-content>
        <ion-row>
          <ion-col col-6>
            <h6>{{transaction.country.name}}</h6>
          </ion-col>
          <ion-col col-6>
            {{getDateLocale(transaction.date_request) |date:'MM/dd/yyyy'}}
            transaction.date_request |date:'MM/dd/yyyy h:mma'}}
          </ion-col>
          <ion-col col-4>
            {{transaction.coin.full_name}}
          </ion-col>
          <ion-col col-4>
            {{transaction.amount_local | currency:transaction.country.currency+" " : 2}}
          </ion-col>
          <ion-col col-4>
            <ion-icon name="add"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list> -->