<ion-header>
  <div class="BackgroundPpal">
    <ion-row>
      <ion-col>
        <img class="imgLogoWidth marginlogo" src="assets/imgs/EPCLogo.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6>{{'SALDO_POR_PAGAR'|translate}}:</h6>
      </ion-col>
    </ion-row>
    <ion-row class="styleSegment">
      <ion-col>
        <div padding>
          <ion-segment class="backSegment marg4Top center " [(ngModel)]="filtro.status" (ionChange)="getInfo()">
            <ion-segment-button value="0">
              {{'SOLICITADAS'|translate}}
            </ion-segment-button>
            <ion-segment-button value="1">
              {{'POR_PAGAR'|translate}}
            </ion-segment-button>
            <ion-segment-button value="2">
              {{'RETIRADAS'|translate}}
            </ion-segment-button>
          </ion-segment>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-header>
<ion-content>
  <div padding [ngSwitch]="filtro.status">
    <ion-list *ngSwitchCase="'0'">
      <div *ngIf="( (transactions!= null)  && (transactions.length)<=0)">
        <div class="centerIcoText">
          <img class="imgLogoWidth" src="assets/newIcons/27.png">
        </div>
        <div class="centerIcoText">
          <h1>{{'MENSAJE_BIENVENIDA'| translate}}</h1>
          <p>{{'FONDOS_SLIDE' | translate}}</p>
        </div>
      </div>

      <ion-card *ngFor="let transaction of transactions" (click)="goDetalle(transaction)" class="center bground">
        <ion-card-content>
          <ion-row>
            <ion-col col-6>
              <h6>{{transaction.country.name}}</h6>
            </ion-col>
            <ion-col col-6>
              <h6>{{getDateLocale(transaction.date_request) |date:'MM/dd/yyyy'}}</h6>
            </ion-col>
            <ion-col col-6>
              <h6>{{transaction.coin.full_name}}</h6>
            </ion-col>
            <ion-col col-6>
              <h6>{{transaction.amount_local | currency:transaction.country.currency+" " : 2}}</h6>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'1'">
      <div *ngIf="( (transactions!= null)  && (transactions.length)<=0)">
        <div class="centerIcoText" *ngIf="( (transactions!= null)  && (transactions.length)<=0)">
          <img class="imgLogoWidthPen" src="assets/newIcons/26.png">
        </div>
        <div class="centerIcoText">
          <h1>Auuchh !</h1>
          <p>{{'TRANSACCIONES_ENVIADAS'|translate}}</p>
        </div>
      </div>
      <ion-card *ngFor="let transaction of transactions" (click)="goDetalle(transaction)" class="center bground">
        <ion-card-content>
          <ion-row>
            <ion-col col-6>
              <h6>{{transaction.country.name}}</h6>
            </ion-col>
            <ion-col col-6>
              <h6>{{getDateLocale(transaction.date_request) |date:'MM/dd/yyyy'}}</h6>
            </ion-col>
            <ion-col col-6>
              <h6>{{transaction.coin.full_name}}</h6>
            </ion-col>
            <ion-col col-6>
              <h6>{{transaction.amount_local | currency:transaction.country.currency+" " : 2}}</h6>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'2'">
      <div *ngIf="( (transactions!= null)  && (transactions.length)<=0)">
        <div class="centerIcoText">
          <img class="imgLogoWidth" src="assets/newIcons/25.png">
        </div>
        <div class="centerIcoText">
          <h1>Auuchh !</h1>
          <p>{{'TRANSACCIONES_RECIBIDAS'|translate}}</p>
        </div>
      </div>
      <ion-card *ngFor="let transaction of transactions" (click)="goDetalle(transaction)" class="center bground">
        <ion-card-content>
          <ion-row>
            <ion-col col-6>
              <h6>{{transaction.country.name}}</h6>
            </ion-col>
            <ion-col col-6>
              <h6>{{getDateLocale(transaction.date_request) |date:'MM/dd/yyyy'}}</h6>
            </ion-col>
            <ion-col col-6>
              <h6>{{transaction.coin.full_name}}</h6>
            </ion-col>
            <ion-col col-6>
              <h6>{{transaction.amount_local | currency:transaction.country.currency+" " : 2}}</h6>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
<ion-footer >
	<ion-toolbar >
		<ion-row >
			<ion-col class="center" col-2 (click)="goPage('precios')">
				<img width="40" height="40" src="assets/newIcons/11.png">
				<p>Precios</p>
			</ion-col>
			<ion-col class="center" col-3 (click)="goPage('transaction')">
				<img width="40" height="40" src="assets/icon/1.png">
				<p>{{'TRANSACCION'|translate}}</p>
			</ion-col>
			<ion-col class="center mar1Left" col-2 (click)="goPage('history')">
				<!-- <ion-badge item-end>{{count}}</ion-badge> -->
				<img width="40" height="40" src="assets/icon/2.png">
				<p>{{'HISTORIAL'|translate}}</p>
			</ion-col>
			<ion-col class="center" col-2 (click)="goPage('maps')">
				<img width="40" height="40" src="assets/icon/3.png">
				<p>{{'MAPA'|translate}}</p>
			</ion-col>
			<ion-col  class="center" col-2 (click)="goPage('profile')">
				<img width="40" height="40" src="assets/icon/4.png">
				<p>{{'CUENTA'|translate}}</p>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer>