
.buttonPayCash {
  background: rgba(149, 105, 252, 1);
  background: -moz-linear-gradient(left, rgba(149, 105, 252, 1) 0%, rgba(89, 116, 251, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(149, 105, 252, 1)), color-stop(100%, rgba(89, 116, 251, 1)));
  background: -webkit-linear-gradient(left, rgba(149, 105, 252, 1) 0%, rgba(89, 116, 251, 1) 100%);
  background: -o-linear-gradient(left, rgba(149, 105, 252, 1) 0%, rgba(89, 116, 251, 1) 100%);
  background: -ms-linear-gradient(left, rgba(149, 105, 252, 1) 0%, rgba(89, 116, 251, 1) 100%);
  background: linear-gradient(to right, rgba(149, 105, 252, 1) 0%, rgba(89, 116, 251, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9569fc', endColorstr='#5974fb', GradientType=1);
  color: white;
  font-weight: bold;
  border-radius: 8px;
}
//
//.alert-md .alert-wrapper {
//  border-radius: 15px;
//  max-width: 280px;
//  background-color: #fafafa;
//  -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
//  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
//}

//======================  CSS PARA CAMBIAR LOS COLORES DE LOS ICONOS

.bar-buttons-md {
  background: transparent !important;
}
.ion-md-settings:before {
  color: rgba(149,105,252,1);
  color: -moz-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
  color: -webkit-gradient(left top, right top, color-stop(0%, rgba(149,105,252,1)), color-stop(100%, rgba(6,56,150,1)));
  color: -webkit-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
  color: -o-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
  color: -ms-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
  color: linear-gradient(to right, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9569fc', endColorstr='#063896', GradientType=1 );
  // color: #424242;
  background-color: transparent;
  content: "\f377";
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: rgba(149,105,252,1);
  color: -moz-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
  color: -webkit-gradient(left top, right top, color-stop(0%, rgba(149,105,252,1)), color-stop(100%, rgba(6,56,150,1)));
  color: -webkit-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
  color: -o-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
  color: -ms-linear-gradient(left, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
  color: linear-gradient(to right, rgba(149,105,252,1) 0%, rgba(6,56,150,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9569fc', endColorstr='#063896', GradientType=1 );
  // color: #424242;
  background-color: transparent;
}

//======================  CSS PARA CAMBIAR LOS DOTS EN EL SPINNER DEL LOADING
ion-backdrop {
  background: linear-gradient(to right, rgba(149, 105, 252, 1) 0%, rgba(89, 116, 251, 1) 100%);
  opacity: 1 !important;
}
.loading-md .loading-wrapper , .loading-ios .loading-wrapper{
  background-color: transparent !important;
  box-shadow: none;
  transform: scale(2) !important;
}
.loading-md .spinner-dots circle , .loading-ios .spinner-dots circle{
  //fill:#7357df;
  fill:white;
}
ion-spinner {
  width: 50px;
  height: 50px;
}
//==================   LISTADOS DE SELECTS
.popover-md .popover-content, .popover-ios .popover-content {
  width: 85%;
}
ion-popover ion-backdrop {
  opacity: 0 !important;
}

//=================  BORDERS NEGROS A LOS INPUTS
ion-input, ion-textarea{
  border: 1px black solid;
}

