
.buttonPayCash {
  background: rgba(149, 105, 252, 1);
  background: -moz-linear-gradient(left, rgba(149, 105, 252, 1) 0%, rgba(89, 116, 251, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(149, 105, 252, 1)), color-stop(100%, rgba(89, 116, 251, 1)));
  background: -webkit-linear-gradient(left, rgba(149, 105, 252, 1) 0%, rgba(89, 116, 251, 1) 100%);
  background: -o-linear-gradient(left, rgba(149, 105, 252, 1) 0%, rgba(89, 116, 251, 1) 100%);
  background: -ms-linear-gradient(left, rgba(149, 105, 252, 1) 0%, rgba(89, 116, 251, 1) 100%);
  background: linear-gradient(to right, rgba(149, 105, 252, 1) 0%, rgba(89, 116, 251, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9569fc', endColorstr='#5974fb', GradientType=1);
  color: white;
  font-weight: bold;
}

.alert-md .alert-wrapper {
  border-radius: 15px;
  max-width: 280px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
}