<ion-header>
  <ion-navbar>
    <ion-title>Detalle de la transacción</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <label stacked>Información del país</label>
        <ion-row>
          <ion-col col-6 text-left>
            Nombre:
          </ion-col>
          <ion-col col-6 text-right>
            {{country?.name}}
          </ion-col>
          <ion-col col-6 text-left>
            Moneda:
          </ion-col>
          <ion-col col-6 text-right>
            {{country?.currency}}
          </ion-col>
        </ion-row>
        <label stacked>Información de {{coin?.full_name}}</label>
        <ion-row>
          <ion-col col-6 text-left>
            Costo:
          </ion-col>
          <ion-col col-6 text-right>
            USD {{comision.crypto_value_to_usd | currency}}
          </ion-col>
        </ion-row>
        <label stacked>Información de comisión</label>
        <ion-row>
          <ion-col col-6 text-left>
            Total en USD
          </ion-col>
          <ion-col col-6 text-right>
            USD {{comision?.total_in_usd | currency}}
          </ion-col>
          <ion-col col-6 text-left>
            Total en Cryptomoneda
          </ion-col>
          <ion-col col-6 text-right>
            {{coin.short_name}} {{comision?.total_in_crypto | currency}}
          </ion-col>
        </ion-row>
        <label stacked>Inf. de transacción</label>
        <ion-row>
          <ion-col col-6 text-left>Costo en moneda local:</ion-col>
          <ion-col col-6 text-right>{{historyInfo?.amount_local | currency}}</ion-col>

          <ion-col col-6 text-left>Costo en USD:</ion-col>
          <ion-col col-6 text-right>{{historyInfo?.amount_usd | currency}}</ion-col>

          <ion-col col-6 text-left>Fecha de la transacción:</ion-col>
          <ion-col col-6 text-right>{{historyInfo?.date_request}}</ion-col>

          <ion-col col-6 text-left>Número móvil de destino:</ion-col>
          <ion-col col-6 text-right>{{historyInfo?.phone_user_des}}</ion-col>
        </ion-row>
        <label stacked>Estado de la transacción</label>
        <ion-row>
          <ion-col col-4 text-left>Estado:</ion-col>
          <ion-col col-8 text-right>
            <p *ngIf="historyInfo?.process_status==0"><b>Estado: PENDIENTE DE PAGO </b></p>
            <p *ngIf="historyInfo?.process_status==1"><b>Estado: PAGADO Y PENDIENTE POR RETIRAR </b></p>
            <p *ngIf="historyInfo?.process_status==2"><b>Estado: PAGADO Y RETIRADO </b></p>
          </ion-col>
        </ion-row>


        <ion-col col-12 *ngIf="historyInfo?.process_status==0">
          <h2 text-center>La transacción se encuentra pendiente por pagar. </h2>
          <h2 text-center>Número de referencia para pagar:</h2>
          <h1 text-center>{{coinHash?.eye_hash}}</h1>
          <img src="{{coinHash.qr_url}}">
        </ion-col>
        <ion-col col-12 *ngIf="historyInfo?.process_status==1">
          <h2 text-center>La transacción se encuentra disponible para retirar. </h2>
          <h2 text-center>Número de referencia para retirar:</h2>
          <h1 text-center>{{historyInfo.key_request}}</h1>
        </ion-col>
        <ion-col col-12>
          <h2 text-center>Total de la transacción</h2>
          <h1 text-center>{{historyInfo?.amount_btc}}</h1>
        </ion-col>


      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
