page-account {
  .toolbar-background {
    background: #063996 !important;
  }
  .toolbar-title-md {
    color: white;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: white;
    background-color: transparent;
  }
}
