<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Eyepaycash
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-icon name="person" item-start></ion-icon>
      Informaciòn personal
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label stacked>Nombres</ion-label>
          <ion-input type="text" required name="userregistronombre" [(ngModel)]="usuario.first_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Apellidos</ion-label>
          <ion-input type="text" required name="userregistroapellido"
                     [(ngModel)]="usuario.last_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Género</ion-label>
          <ion-select okText="Guardar" cancelText="Cancelar" [(ngModel)]="usuario.gender" name="userregistrogenero">
            <ion-option value="f">Femenino</ion-option>
            <ion-option value="m">Masculino</ion-option>
          </ion-select>
        </ion-item>
        <button ion-button block class="buttonPayCash" (click)="actualizar()">Actualizar</button>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon name="key" item-start></ion-icon>
      Informaciòn de cuenta
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-label stacked>Email</ion-label>
        {{usuario.mail}}
      </ion-row>
      <ion-row>
        <ion-label stacked>Telèfono</ion-label>
        {{usuario.phone}}
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-icon name="locate" item-start></ion-icon>
      Informaciòn de ubicaciòn
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-label stacked>Paìs</ion-label>
        {{country.name}}
      </ion-row>
      <ion-row>
        <ion-label stacked>Còdigo de telèfono</ion-label>
        {{country.phone_code}}
      </ion-row>
      <ion-row>
        <ion-label stacked>Còdigo de paìs</ion-label>
        {{country.country_code}}
      </ion-row>
      <ion-row>
        <ion-label stacked>Moneda del paìs</ion-label>
        {{country.currency}}
      </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-icon name="lock" item-start></ion-icon>
      Informaciòn de seguridad
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="isphone">
        <ion-row>

          <label stacked>Seleccione el paìs e ingrese su nuevo nùmero celular</label>
          <ion-col col-4>
            <ion-item class="item-flag">
              <img [src]="infoPhone.flag" class="flagphone" *ngIf="infoPhone.flag !=null">
              <button ion-button (click)="selectcountry()">+ {{infoPhone.country_code}}</button>
            </ion-item>
          </ion-col>
          <ion-col col-8>
              <ion-input required type="text" name="numerocelular" [(ngModel)]="infoPhone.value"
                         placeholder="Número movil (celular)"></ion-input>
          </ion-col>

          <ion-col col-12 *ngIf="response_verify.phone_code != null">
            <label stacked>Por favor ingrese el còdigo de verificaciòn</label>
            <ion-input name="verifycode" [(ngModel)]="codeVerify"></ion-input>
            <button class="buttonPayCash" (click)="verifyCode()" ion-button block>Verificar còdigo</button>
          </ion-col>
        </ion-row>
        <button ion-button block class="buttonPayCash" (click)="changePhone()" *ngIf="response_verify.phone_code==null">Actualizar nùmero celular</button>
        <button ion-button block class="buttonPayCash" (click)="pedirMail()">Cambiar direcciòn email</button>
      </div>


      <div *ngIf="ismail">
        <ion-row>
          <label stacked> Por favor ingrese la nueva direcciòn email</label>
          <ion-col col-12 row>
            <ion-input name="correoelectronico" [(ngModel)]="infoPhone.value" placeholder="Direcciòn email correo electrònico"></ion-input>
          </ion-col>
          <ion-col col-12 *ngIf="response_verify.mail_code != null">
            <label stacked>Por favor ingrese el còdigo de verificaciòn</label>
            <br>
            <ion-input name="verifycode" [(ngModel)]="codeVerifyMail"></ion-input>
            <button class="buttonPayCash" (click)="verifyCodeMail()" ion-button block>Verificar còdigo</button>
          </ion-col>
        </ion-row>
        <button ion-button block class="buttonPayCash" (click)="changeMail()" *ngIf="response_verify.mail_code==null">Actualizar direcciòn email</button>
        <button ion-button block class="buttonPayCash" (click)="pedirPhone()">Cambiar nùmero celular</button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
