<ion-header>
  <ion-navbar>
    <ion-title>
      Información de cuenta
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="BackGR3">
  <ion-row>
    <ion-col col-12>
      <button ion-button (click)="cerrarSesion()" block class="buttonPayCash">Cerrar sesión</button>
    </ion-col>
  </ion-row>
  <ion-card style="background: transparent">
    <ion-card-header>
        <ion-img style="background: transparent" width="15" height="15" src="assets/icon/Account.png"></ion-img>
      <!-- <ion-icon name="person" item-start></ion-icon> -->
      Información personal
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label stacked>Nombres</ion-label>
          <ion-input type="text" required name="userregistronombre" [(ngModel)]="usuario.first_name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Apellidos</ion-label>
          <ion-input type="text" required name="userregistroapellido"
                     [(ngModel)]="usuario.last_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Género</ion-label>
          <ion-select okText="Guardar" cancelText="Cancelar" [(ngModel)]="usuario.gender" name="userregistrogenero"
                      interface="popover">
            <ion-option value="f">Femenino</ion-option>
            <ion-option value="m">Masculino</ion-option>
          </ion-select>
        </ion-item>
        <button ion-button block class="buttonPayCash" (click)="actualizar()">Editar información</button>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-img style="background: transparent" width="15" height="15" src="assets/icon/key.png"></ion-img>
      Información de cuenta
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-label stacked>Email</ion-label>
        {{usuario.mail}}
      </ion-row>
      <ion-row>
        <ion-label stacked>Teléfono</ion-label>
        {{usuario.phone}}
      </ion-row>


      <ion-row *ngIf="view_Verify_Mail">
        <ion-col col-12>
          <ion-input type="text" [(ngModel)]="code_Verify_Mail"></ion-input>
        </ion-col>
        <ion-col col-12>
          <button ion-button (click)="validateCode('mail')">Confirmar código email</button>
          <button ion-button block (click)="cancelValidation()">Cancelar</button>
        </ion-col>
      </ion-row>


      <ion-row *ngIf="view_Verify_Phone">
        <ion-col col-12>
          <ion-input type="text" [(ngModel)]="code_Verify_Phone"></ion-input>
        </ion-col>
        <ion-col col-12>
          <button ion-button block (click)="validateCode('phone')">Confirmar código telefono</button>
          <button ion-button block (click)="cancelValidation()">Cancelar</button>
        </ion-col>
      </ion-row>


      <ion-row>
        <button ion-button block class="buttonPayCash"
                *ngIf=" (view_Btn_phone) && (view_Verify_Phone == false)"
                (click)="reenviarConfirm('phone')">Reenviar confirmación móvil
        </button>

        <button ion-button block class="buttonPayCash"
                *ngIf=" (view_Btn_mail) && view_Verify_Mail == false"
                (click)="reenviarConfirm('mail')">Reenviar confirmación email
        </button>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
        <ion-img style="background: transparent" width="15" height="15" src="assets/icon/Ubicacion.png"></ion-img>
      Información de ubicación
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-label stacked>País</ion-label>
        {{country.name}}
      </ion-row>
      <ion-row>
        <ion-label stacked>Código de teléfono</ion-label>
        {{country.phone_code}}
      </ion-row>
      <ion-row>
        <ion-label stacked>Código de país</ion-label>
        {{country.country_code}}
      </ion-row>
      <ion-row>
        <ion-label stacked>Moneda del país</ion-label>
        {{country.currency}}
      </ion-row>
    </ion-card-content>
  </ion-card>


</ion-content>
