<ion-header>
	<div class="BackgroundPpal">
		<ion-row>
			<ion-col col-12>
				<img class="imgLogoWidth marginlogo" src="assets/imgs/EPCLogo.png">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<h6 class="colorwhite">Precios :</h6>
			</ion-col>
		</ion-row>
		<ion-row class="styleSegment">
			<ion-col>
				<div class="mrgLeftSegment">
					<ion-segment class="backSegment marg4Top center " [(ngModel)]="Coins">
						<ion-segment-button value="0">
							USD
						</ion-segment-button>
						<!-- <ion-segment-button value="1">
							EUR
						</ion-segment-button> -->
						<ion-segment-button (click)="countryLocal()" value="2">
							LOCAL
						</ion-segment-button>
					</ion-segment>
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-header>
<ion-content>
	<div padding [ngSwitch]="Coins">
		<ion-list *ngSwitchDefault >
			<ion-list>
				<ion-item *ngFor="let coin of coins">
					<div>
						<ion-row>
						<ion-col col-3>
							<img class="imgIcoin" src="assets/newIcons/19.png">
						</ion-col>
						<ion-col col-3>
							<h6 >{{coin?.full_name}}</h6>
							<p >{{coin?.short_name}}</p>	
						</ion-col>
						<ion-col col-3>
							<p >{{coin?.usd_value | currency}} USD</p>				
						</ion-col>
					</ion-row>
						</div>
				</ion-item>
			</ion-list>
			<ion-row>
				<ion-col>
					<div>
						<img src="assets/newIcons/LineaHoriz.png">
					</div>
				</ion-col>
			</ion-row>
		</ion-list>
		<ion-list *ngSwitchCase="'1'">
			<ion-row>
				<ion-col col-8>
					<div class="centerIcoText">
						<img class="imgIcoin" src="assets/newIcons/19.png">
						<h6 class="textCoinsmon">BITCOIN</h6>
						<p class="textSecon">BTC</p>
					</div>
				</ion-col>
				<ion-col col-4 padding>
					<p class="mrg10Top textTaman">
						6,500.20
					</p>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div>
						<img src="assets/newIcons/LineaHoriz.png">
					</div>
				</ion-col>
			</ion-row>
		</ion-list>
		<ion-list *ngSwitchCase="'2'">
			<ion-row>
				<ion-list >
					<ion-item *ngFor="let coin of coins && monedas" >
						<div >
							<ion-row>
							<ion-col col-3>
								<img class="imgIcoin" src="assets/newIcons/19.png">
							</ion-col>
							<ion-col col-3>
								<h6 >{{coin?.full_name}}</h6>
								<p >{{coin?.short_name}}</p>	
							</ion-col>
							<ion-col col-3 >
								<p stacked>{{coin?.local_usd_value | currency}} {{currency}}</p>				
							</ion-col>
						</ion-row>
							</div>
					</ion-item>
				</ion-list>
			</ion-row>
			<ion-row>
				<ion-col>
					<div>
						<img src="assets/newIcons/LineaHoriz.png">
					</div>
				</ion-col>
			</ion-row>
		</ion-list>
	</div>
</ion-content>
<ion-footer>
	<ion-toolbar>
	  <ion-row>
		<ion-col class="center" col-2 (click)="goPage('precios')">
		  <img width="40" height="40" src="assets/newIcons/11.png">
		  <p>Precios</p>
		</ion-col>
		<ion-col class="center" col-3 (click)="goPage('transaction')">
		  <img width="40" height="40" src="assets/icon/1.png">
		  <p>{{'TRANSACCION'|translate}}</p>
		</ion-col>
		<ion-col class="center mar1Left" col-2 (click)="goPage('home')">
		  <!-- <ion-badge item-end>{{count}}</ion-badge> -->
		  <img width="40" height="40" src="assets/newIcons/12.png">
		  <p>{{'INICIO'|translate}}</p>
		</ion-col>
		<ion-col class="center" col-2 (click)="goPage('maps')">
		  <img width="40" height="40" src="assets/icon/3.png">
		  <p>{{'MAPA'|translate}}</p>
		</ion-col>
		<ion-col class="center" col-2 (click)="goPage('profile')">
		  <img width="40" height="40" src="assets/icon/4.png">
		  <p>{{'CUENTA'|translate}}</p>
		</ion-col>
	  </ion-row>
	</ion-toolbar>
  </ion-footer>